EMBED_API_BASE="https://my-embeddings-model-url/v1"
EMBED_API_KEY="api-key"
EMBED_MODEL="model-name"

# LLM INGESTION
LLM_API_BASE=http://your-endpoint-llm/v1
LLM_MODEL=your_chat_model
LLM_API_KEY=
LLM_PROVIDER_NAME=

# Qdrant
QDRANT_API_KEY="api-key"
QDRANT_URL="http://qdrant:6333"
